$lato: "Lato", sans-serif;
$mont: "Montserrat", sans-serif;
$oswald: "Oswald", sans-serif;

$blue1: #2a5697;
$blue2: #4a78c3;

$orange1: #ef958c;
$orange2: #f3b07b;

body, html {
  background: #ddd;
  font-family: Lato,sans-serif;
  overflow-x: hidden;
}

.info {
  padding: .8rem 2.3rem;
  background: #fff;
  border-radius: 5px;
  min-width: 12.4rem;
  margin: 0 0 1rem;
  color: #2a5697;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  text-align: center;
}

.heading {
  background: #fff;
  padding: 0.5rem 5rem 0.5rem 3rem;
  color: $orange2;
  display: inline-block;
  border-radius: 50% 70% 0 0;
}

button.plus {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: $orange2;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  &:focus {
    outline: none;
  }
}
.but {
  padding: 0.8rem 2.3rem;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  &.porange {
    background: $orange2;
  }
  &.orange {
    background-image: linear-gradient(to right, $orange2, $orange1);
  }
  &.blue {
    background-image: linear-gradient(to right, $blue2, $blue1);
  }
  &.grad {
    background-image: linear-gradient(to right, #27c391, #2172c6);
  }
  &.white {
    background: #fff;
    border: 1px solid #ccc;
    color: #555;
    box-sizing: border-box;
    border: 0.2rem solid transparent;
    transition: border 0.2s;
    &:hover {
      color: #555;
      border: 0.2rem solid $orange1;
    }
  }
  &.sm {
    padding: 0.4rem 1.2rem;
  }
  &.lg {
    font-size: 1.5rem;
    padding: 0.9rem 5rem;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &.fixed {
    width: 9rem;
  }
}
.link {
  text-decoration: none;
  color: $orange2;
  &:hover {
    color: $orange1;
  }
}


nav.navbar {
    position: relative;
    height: 7rem;
    align-items: initial;
    padding-top: 1.5rem !important;
    z-index: 6;
}
  
nav.navbar > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: none;
    fill: url(#navBarGrad);
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.2));
  }
  nav.navbar .collapse {
    display: block;
  }
  
  nav.navbar a {
    font-size: 1rem;
    color: #fff;
    position: relative;
  }
  
  nav.navbar .navbar-brand img {
    height: 2.3rem;
    margin-left: 2rem;
  }
  nav.navbar .nav-item:hover {
    background: transparent !important;
  }
  nav.navbar .nav-link {
    border-radius: 5px;
    transition: all 0.15s;
  }
  nav.navbar .nav-link:hover {
    background-image: linear-gradient(to right, $orange1, $orange2);
  }
  nav.navbar .badge {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  nav.navbar a.language span {
    margin-left: 0.2rem;
    vertical-align: middle;
  }
  
  nav.navbar small {
    font-size: 0.75rem;
    color: #999;
  }
  
  nav.navbar .nav-menu {
    margin-top: -0.7rem;
    margin-bottom: 0;
  }
  
  nav.navbar .dropdown-toggle::after {
    border: none !important;
    content: "\f107";
    vertical-align: baseline;
    font-family: "FontAwesome";
    margin-left: 0.3rem;
  }
  
  nav.navbar .dropdown-menu {
    right: 0;
    left: auto;
    float: left;
    margin-top: 16px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    padding: 1rem;
  }
  
  nav.navbar .dropdown-menu .dropdown-item {
    color: #666;
    padding: 10px;
  }
  
  nav.navbar .dropdown-menu .dropdown-item:active {
    color: #fff;
  }
  
  nav.navbar .dropdown-menu .dropdown-item:active span,
  nav.navbar .dropdown-menu .dropdown-item:active small {
    color: #fff;
  }
  
  nav.navbar .dropdown-menu .dropdown-item span {
    color: #777;
  }
  
  nav.navbar .dropdown-menu .dropdown-item i {
    margin-right: 5px;
  }
  
  nav.navbar .msg-body span,
  nav.navbar .msg-body strong {
    display: block;
  }
  
  nav.navbar .msg-body span {
    font-size: 0.85em;
  }
  
  nav.navbar .msg-profile {
    margin-right: 10px;
    width: 50px;
  }
  
  nav.navbar .notification-content {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  
  nav.navbar a.menu-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #292929;
    color: #fff;
    text-align: center;
    padding: 0 !important;
}


.dashboard {
  .recharts-responsive-container {
    height: 23rem !important;
  }
}
  
  